<!doctype html>
<html ng-app="app">

<head>


	<link href="reset.css" rel="stylesheet" />
	<link href="./bower_components/materialize/dist/css/materialize.min.css" rel="stylesheet" />

	<link href="site.css" rel="stylesheet" />

	<head>

		<body>
			<header>
				<nav class="blue darken-1">
					<ul class="right hide-on-med-and-down">
						<li></li>
						<li><a href="#!">Designed by Yusuf Kelo</a></li>
						<li><a href="#!">yusufkel@gmail.com</a></li>
						<li><a href="#!">+971 554 112 774</a></li>
						<li><a href="http://1drv.ms/1GXmF8E">Download my resume here</a></li>
					</ul>
					<ul id="slide-out" class="side-nav fixed blue lighten-5">
						<li>
							<strong style="color:black">	{{AppTitle}}</strong>
						</li>
						<li>
							<a ui-sref="summary">ORDERS SUMMARY</a>
						</li>
						<li>
							<a ui-sref="orders">ORDERS LIST</a>
						</li>
						<li>
							<a href="https://github.com/ysfkel/OrderManager" target="_blank">Download Code</a>
						</li>
						<li>
							<a href="http://1drv.ms/1GXmF8E" target="_blank">My Resume</a>
						</li>

					</ul>
					<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
				</nav>
			</header>

			<div class="main">

				<section class="content-section">
					<div class='main-content'>
						<header class="page-header">

							<h3 class="page-title"> {{title}}</h3>
						</header>
						<div class="page-item" ui-view>

						</div>

					</div>
					<div class="statistics-section">
						<header class="page-header">
							<strong>STATISTICS</strong>

						</header>
						<div class="card">
							<table>

								<tbody>
									<tr class="blue darken-1 font-white">
										<th>Total Items in preparation </th>
										<td>{{inPreparation}}</td>
									</tr>
									<tr class="blue lighten-4">
										<th>Total Items ready to ship</th>
										<td>{{readyToShip}}</td>
									</tr>
									<tr class="blue lighten-5">
										<th>Total items shipped</th>
										<td>{{shipped}}</td>
									</tr>
									<tr class="blue lighten-5">
										<th>Total Income</th>
										<td>200 AED</td>
									</tr>
								</tbody>
							</table>
						</div>

				</section>


				<script type="text/ng-template" id="orders.html">
					<header class="order-summary-header">


						<input type="text" ng-model='orderId' placeholder="Filter Orders summary">


					</header>
					<table class="">
						<thead>

							<tr>
								<th>Order Id</th>
								<th>Item name</th>
								<th>Quantity </th>
								<th>Unit Price</th>
								<th>Total Price</th>
								<th>Order Date</th>
								<th>Status</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in orders.list | filter: orderId track by $index ">
								<td>{{item.orderId}}</td>
								<td>{{item.itemName}}</td>
								<td>{{item.quantity}}</td>
								<td>{{item.unitPrice}}</td>
								<td>{{item.totalPrice}}</td>
								<td>{{item.orderDate}}</td>
								<td>{{item.status}}</td>
								<td><a ui-sref='edit({id:$index})'>Edit</a></td>


							</tr>

						</tbody>
					</table>
				</script>
				<script type="text/ng-template" id="summary.html">
					<header class="order-summary-header">
						<input type="text" ng-model='orderId' placeholder="Filter Orders summary">

					</header>
					<table class="">
						<thead>

							<tr>
								<th>Order Id</th>
								<th>Number of Items </th>
								<th>Total Price</th>
								<th>Order Date</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in orders.summary | filter: orderId track by $index ">
								<td>{{item.orderId}}</td>
								<td>{{item.quantity}}</td>
								<td>{{item.totalPrice}}</td>
								<td>{{item.orderDate}}</td>
								<td>{{item.status}}</td>
							</tr>

						</tbody>
					</table>
				</script>
				<script type="text/ng-template" id="edit.html">
					<div class='edit-form'>

						<div>
							<header>
								Order ID:{{order.orderId}} {{order.status}}
							</header>
							<div>
								<p>
									<input name="group1" type="radio" id="test1" ng-model="order.status" value="In Preparation" />
									<label for="test1">In Preparation</label>
								</p>
								<p>
									<input name="group1" type="radio" id="test2" ng-model="order.status" value="Ready to ship" />
									<label for="test2">Ready to ship</label>
								</p>
								<p>
									<input class="with-gap" name="group1" type="radio" id="test3" ng-model="order.status" value="Shipped" />
									<label for="test3">Shipped</label>
								</p>

							</div>
						</div>
						<button class="waves-effect waves-light btn" ng-click='controller.save()'>Save</button>
					</div>

				</script>

				</div>
				<script src="./bower_components/angular/angular.min.js">

				</script>
				<script src="./bower_components/jquery/dist/jquery.min.js">

				</script>
				<script src="./bower_components/materialize/dist/js/materialize.min.js">

				</script>
				<script src="./bower_components/angular-ui-router/release/angular-ui-router.js">

				</script>
				<script src="site.js">

				</script>
				<script>
					$(function(){
							 $(".button-collapse").sideNav();
		
						})
				</script>




		</body>


</html>