<!doctype html>
<html ng-app="app">
	<head>
		
		  <link href="reset.css" rel="stylesheet" />
		  		  <link href="site.css" rel="stylesheet" />
			
							
	<head>
		<body >
			<div class="main">	
			 <header class="site-header">
				
			</header>
			
		
			
				<nav class="left-menu">
					<header class="">
						MENU
					</header>
					<ul>
						<li>
							<a ui-sref="summary">Orders Summary</a>
						</li>
							<li>
							<a ui-sref="orders">	Orders</a>
						</li>
						
					</ul>
				</nav>
				<section class="content-section" >
			        <div class='main-content' >
								 <header class="page-header">
						<h1 class="page-title"> {{title}}</h1>
					 </header>
					 <div class="order-summary" ui-view>
						
					 </div>
					</div>
					<div class="statistics-section">
						<header class="page-header">
							<h1>STATISTICS</h1>
						</header>
				      <div class="details">
						<div class="row">
							<div class="column column-title">Total Orders Received</div><div class="column">300</div>
						</div>
						<div class="row">
								<div class="column column-title">Total Orders Delivered</div><div class="column">210</div>
							</div>
						 <div class="row">   
							<div class="column column-title">Total Orders Pending</div><div class="column">90</div>
						</div>
					</div>
					 
				</section>
					
				
				 <script type="text/ng-template" id="orders.html">
                     	  <header class="order-summary-header">
							  <input type="text" ng-model='orderId' placeholder="Filter Orders summary">
						</header>
						  <table class="">
						 <thead>
						
							 <tr>
								 <th>Order Id</th><th>Item name</th><th>Quantity </th><th>Unit Price</th> <th>Total Price</th><th>Order Date</th><th>Status</th><th></th>
							 </tr>
						 </thead>
						 <tbody>
							 <tr ng-repeat="item in orders.list | filter: orderId track by $index ">
								 <td>{{item.orderId}}</td><td>{{item.itemName}}</td><td>{{item.quantity}}</td><td>{{item.unitPrice}}</td><td>{{item.totalPrice}}</td><td>{{item.orderDate}}</td><td>{{item.status}}</td><td><button ng-click='controller.edit(item)' >Edit</button></td>
							 </tr>
							
							 </tbody>
					 </table>
                 </script>
				 <script type="text/ng-template" id="summary.html">
					  <header class="order-summary-header">
							  <input type="text" ng-model='orderId' placeholder="Filter Orders summary">
						</header>
						  <table class="">
						 <thead>
						
							 <tr>
								 <th>Order Id</th><th>Number of Items </th> <th>Total Price</th><th>Order Date</th><th>Status</th>
							 </tr>
						 </thead>
						 <tbody>
							 <tr ng-repeat="item in orders.summary | filter: orderId track by $index ">
								 <td>{{item.orderId}}</td><td>{{item.numberOfItems}}</td><td>{{item.totalOrderPrice}}</td><td>{{item.orderDate}}</td><td>{{item.status}}</td>
							 </tr>
							
							 </tbody>
					 </table>
				 </script>
				 	 <script type="text/ng-template" id="edit.html">
				  <h1>Edit<h1>
				  
				    
					
				 </script>

			</div>
					<script src="./bower_components/angular/angular.min.js"> </script>
							<script src="./bower_components/angular-ui-router/release/angular-ui-router.js"> </script>
					<script src="site.js"> </script>
		</body>
		
	
</html>