body,html{
	padding:0;
	margin:0;
}
body{
	height:100%;
	width:100%;
}

.table-search{
	column-span: 5;
}

.site-header{
	height:50px;
	background-color:black;
	width:100%;
	
}
.page-header{

    height: 80px;
    padding: 13px;
    color: #3498DB;

}
.page-title {
	margin: 0 auto;
	text-align:center;
	    font-size: 30px;
}

.main{
	height: 100%;
    width: 90%;
        margin: 0 0 0 20%;
}
.left-menu{
	width:10%;
	height:100%;
	background-color:#e8e8e8;
	float: left;
	display: inline;
	padding:0px;
}
.left-menu header{
background-color:silver;
padding:20px;
text-align:center;
}
.left-menu  ul li{
	padding:20px;
	
}

.content-section{
	width:90%;
	float:left;
	display: inline;
}

.order-summary{
width: 70%;
    float: left;
    margin: 0 0 0 5%;
}

.order-summary-header input{
	    width: 500px;
    height: 30px;
    border: 1px solid #e8e8e8;
}



.order-summary table{
	width:90%;
	
}
.statistics-section{
	width:20%;
	display:inline;
	float:left;
}
.details{
	width:100%;
	float:left;
	border:1px solid silver;
}
.details .row {
	clear:both;
	border:1px solid silver;
}
.details .row .column{
	display:inline;
	float:left;
		height:30px;
	padding: 10px;
	
	width:30%;
}

.column-title{
  background: #f8f8f8;
	
}

/* 320px-480px */

/* 480px-768px */

/* 768px-1024px */

@viewport{ width:device-width;}
@-ms-viewport{width:device-width;} /* for microsoft device */
@-o-viewport{width:device-width;} /* for old opera device */


/* 320px-480px */
@media only screen and (max-width:480px) {
    .form-style-8 {
width: 100%;
display:block;
}

.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select {
width: 100%;
display:block;
}
.form-style-8 textarea {
    resize: none;
    overflow: hidden;
}
.form-style-8 input[type="button"],
.form-style-8 input[type="submit"] {
width: 100%;
display:block;
}
    .pull-right { float: none;
    }
        .btn-large { width:100%;
    }
        
}

/* 480px-768px */
@media only screen and (min-width:481px) and (max-width:768px) {
    .form-style-8 {
width: 100%;
display:block;
}

.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select {
width: 100%;
display:block;
}
.form-style-8 textarea {
    resize: none;
    overflow: hidden;
}
.form-style-8 input[type="button"],
.form-style-8 input[type="submit"] {
width: 100%;
display:block;
}
   
}

/* 768px-1024px */
@media only screen and (min-width:769px) and (max-width:1024px) {
    .form-style-8 {
width: 100%;
display:block;
}
}
